@charset "utf-8";
/* CSS Document */

body {
    background-image: url(images/back.png);
    font-family: 'Raleway', sans-serif;
    margin:0;
}

main {
    max-width: 600px;
    margin:auto;
    margin-top:50px;
    padding:20px;
    background-color:#FFFFFF;
    box-shadow: 0px 0px 13px #ccc;
}

header {
    background-color:white;
    margin-bottom:50px;
    padding-top:10px;
    padding-bottom:10px;
    box-shadow: 0px 0px 13px #ccc;
    font-size:12px;
    
}
    
header a {
    text-decoration:none;
    color:#606060;
    font-size:20px;
    
}

header a:hover {
    
    color:#c90000;
    
    
}
    
header li {
    display:inline-block;
    text-align:center;
    width:32%;
    
}

/* Sur n'importe quel élément html de type block ou inline-block), on peut mettre un contour (border,color), des marges intérieures (padding) et des marges extérieures (margin) */

h1 {
	font-size:25px;
    font-family: 'Raleway', sans-serif;
	text-align:center;
	margin:auto;
	padding:12px;
	padding-bottom:10px;
	width:450px;
	color:#606060;
}

h2 {
	font-size:25px;
    font-family: 'Raleway', sans-serif;
	text-align:center;
	margin:auto;
	padding:12px;
	padding-bottom:10px;
	width:450px;
	color:#C90000;
}

.rouge{ color: #C90000; }

.barre {
    background-color: #EEEEEE;
    color: #c90000;
    margin-bottom: 150px;
    padding-top: 15px;
    padding:15px;

}

footer {
    position:fixed;
    padding-top: 18px;
    width:100%;
    bottom:0;
    background-color: white;
    text-align: center;
    padding-top: 1px;
}

footer li {
    display: inline-block;

}
