@charset "utf-8";
/* CSS Document */

body {
	background-color:#ececec;
    font-family: 'Raleway', sans-serif;
    margin:0;
}


header {
    background-color:white;
    padding-top:10px;
    padding-bottom:10px;
    box-shadow: 0px 0px 13px #aaa;
    font-size:13px;
    
}
    
header a {
    text-decoration:none;
    color:#606060;
    
}

header a:hover {
    
    color:#c90000;
    
    
}
    
header li {
    display:inline-block;
    text-align: center;
    width:32%;
    
}

/* Sur n'importe quel élément html de type block ou inline-block), on peut mettre un contour (border,color), des marges intérieures (padding) et des marges extérieures (margin) */

h1 {
	font-size:18px;
    font-family: 'Raleway', sans-serif;
	text-align:center;
    background-color:#FFF;
	margin:auto;
	padding:12px;
	padding-bottom:10px;
	width:450px;
	color:#606060;
}

.lol {
    color:#c90000;
    
}